#N
issue_en
gmem_ptr.*
smem_ptr.*
bytes_n.*
bar_id.*
busy
done
accept

#E
smem_wr_en
smem_wr_addr.*
smem_wr_data.*
smem_wr_stall_in

#W
gmem_rd_en
gmem_rd_addr.*
gmem_rd_data.*
gmem_rd_valid

#S
add_tx_en
add_tx_bar_id.*
add_tx_bytes.*
sub_tx_en
sub_tx_bar_id.*
sub_tx_bytes.*
arrive_en
arrive_bar_id.*

clk
reset
