#W
clk
reset
a_in\[.*\]
compute_in
slot_in\[.*\]
accum_in

#E
a_out\[.*\]
compute_out
slot_out\[.*\]
accum_out

#N
b_out\[.*\]
drain_out\[.*\]
drain_en
drain_slot\[.*\]
init_en
init_slot\[.*\]
init_data\[.*\]
scrub_en

#S
b_in\[.*\]
drain_in\[.*\]
